.contacto:hover {
    cursor: pointer;
    background-color: lightgray;
}

.ctn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}