<form [formGroup]="miFormularioArray">
<h3>Datos en vivo del formulario</h3>
<p>{{miFormularioArray.value | json}}</p>

<input placeholder="Nombre" formControlName="nombre">
<input placeholder="Apellidos" formControlName="apellidos">

<div formArrayName="telefonos">
  <div *ngFor="let telefono of telefonosFormulario.controls; let i=index" [formGroupName]="i">
   <h5>Telefono - {{i}}</h5>
   <input placeholder="Prefijo" formControlName="prefijo">
   <input placeholder="Numero" formControlName="numero">
   <button (click)="eliminarTelefono(i)">Borrar</button>
</div>
</div>

<button (click)="agregarTelefono()">Anadir Telefono</button>
</form>
